@page
@model SCRUMAssignment.Pages.DeletePageEmnModel
@{
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Sletning af @Model.Emne.Id</h1>
        
        <p class="lead">@Model.Emne.Indhold</p>
        <hr class="my-4">
        <p class="lead">
            
        </p>
        <form method="post">
            <a class="btn btn-danger btn-lg" asp-page="/Index" role="button">Nej</a>
            <input type="hidden" asp-for="@Model.Emne.Id" />
            <input type="hidden" asp-for="@Model.Kategori.Id" />
            <input type="submit" class="btn btn-danger float-right" value="Slet Emne" style="padding:1rem;" />

        </form>
    </div>
    
</div>