@page
@model SCRUMAssignment.Pages.DeletePageEmnModel
@{
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Sletning af @Model.Emne.Id</h1>
        
        <p class="lead">@Model.Emne.Indhold</p>
        <hr class="my-4">
        <p class="lead">
            <form method="post">
                <input type="hidden" asp-for="@Model.Emne.Id" />
                <a class="btn btn-danger btn-lg" asp-page="/Index" role="button">Slet</a>
            </form>
        </p>
    </div>
    
</div>