@page
@model SCRUMAssignment.Pages.Shared.EmneModel
@{
    ViewData["Title"] = "Kategorier og emner";
}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<h1>@ViewData["Title"]</h1>

<p>This is a page</p>

<table style="width:100%">

    <tr>
        <th>Kategori 1</th>
        <th>Mulighedder</th>
    </tr>
    @*@foreach (stuff)
    {*@
<tr>
    <td>Kategori 1 emne 1</td>
    <td><a asp-page=""  class="btn btn-primary m-1">Slet</a><a asp-page="" class="btn btn-primary m-1">Opdater</a></td>
</tr>
    @*}*@



</table>
