@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/IndexStyle.css" />
</head>
<div id="back">
    <h2 class="text-center" id="textcenter">Random Picker</h2>
</div>
<hr class="my-4">
<div class="container">
    <div class="card-deck">
        @foreach (Models.Kategori kategori in Model.Kategori.Values)
        {
            <div class="card bg-light mb-3">
                <img class="card-img-top" src="/img/@kategori.ImgPath" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@kategori.KategoriNavn</h5>
                    <p class="card-text">tekst omkring kategorien</p>
                </div>
                <div class="card-footer"><button type="button" class="btn btn-success">Vælg</button></div>
            </div>
        }
    </div>
</div>
